.why-box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 15px;
    text-align: center;
  }
  
  .why-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--navy-blue);
  }
  
  .why-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr); /* Default: 3 columns */
  }
  
  .why-card {
    border: 1px solid var(--goldenrod);
    padding: 20px;
    border-radius: 5px;
    background: var(--white);
    transition: transform 0.3s ease-in-out;
  }
  
  .why-card:hover {
    transform: translateY(-5px);
  }
  
  .why-card h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .why-card ul {
    list-style: none;
    padding: 0;
  }
  
  .why-card li {
    font-size: 1.1rem;
    margin-bottom: 5px;
    text-align: left;
    color: var(--dark-gray);
    line-height: 1.6;
  }
  
  /* Medium Screens: 2 Columns */
  @media (max-width: 1024px) {
    .why-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Small Screens: 1 Column */
  @media (max-width: 768px) {

    .why-title  {
        font-size: 1.5rem;
    }
    .why-grid {
      grid-template-columns: 1fr;
    }
  }
  