/* PrayerMeditation.css */
.blogs-containers {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    font-family: 'Lucida Sans', sans-serif;
    color: #333;
  }
  
  .blogs-headers {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .blogs-headers h1 {
    color: goldenrod;
  }

 
  
  .blogs-contents {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .blogs-contents .artic {
    
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .artic h3 {
    font-size: 1.5rem;
    color: #222;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .artic h3 strong {
    color: #333;
    font-size: 1.3rem;
  }

  .artic p strong {
    color: #333;
  }
  .blogs-contents h2 {
    color: #222;
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .blogs-contents p {
    line-height: 1.6;
    font-size: 1rem;
    color: #333;
  }
  
  .blogs-contents ul,
  .blogs-contents ol {
    padding-left: 20px;
    color: #222;
  }
  
  .blogs-contents li {
    margin-bottom: 10px;
  }

  .artic ul li strong {
    color: #333;
    line-height: 1.6;
    font-size: 1rem;
  }

  .artic ol li strong {
    color: #333;
    line-height: 1.6;
    font-size: 1rem;
  }
  
  @media (min-width: 768px) {
    .blogs-contents {
      grid-template-columns: 1fr 1fr;
    }
  
    .blogs-contents .artic {
      padding: 20px;
    }
  }
  
  @media (max-width: 767px) {

    .blogs-headers h1 {
        font-size: 1.5rem;
    }
    .blogs-contents {
      grid-template-columns: 1fr;
    }
  }
  